<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293524410350-s0fakc19k0ct6r4jnt51as9sokvel93n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293524410350-s0fakc19k0ct6r4jnt51as9sokvel93n</string>
	<key>API_KEY</key>
	<string>AIzaSyBlCJSmQQEzlJ0M3hWBrWSHJDBGemiTP84</string>
	<key>GCM_SENDER_ID</key>
	<string>293524410350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yazujumusa.recard</string>
	<key>PROJECT_ID</key>
	<string>recard-15b2a</string>
	<key>STORAGE_BUCKET</key>
	<string>recard-15b2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293524410350:ios:b996dbb945f24938da48ff</string>
</dict>
</plist>